<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../img/M5-logo-azul.svg" type="image/x-icon">
    <title>About Us</title>
</head>
<body>
    <nav class="main__nav">
        <img src="../img/M5-logo-azul.svg" alt="logoWebHosting" class="main__nav__img">
        <ul class="main__nav__ul">
            <li class="main__nav__ul--li"><a href="../../index.html">Home</a></li>
            <li class="main__nav__ul--li"><a href="#">Acerca de</a></li>
            <li class="main__nav__ul--li"><a href="../views/contacto.html">Contacto</a> </li>
        </ul>
    </nav>
    <section class="main__description">
        <h1 class="main__description__title">¡Simple, rápido y confiable!</h1>
        <p class="main__description__subtitle">Elegí tu plan de Alojamiento Web sin Impuestos Extra. Facturación en Pesos.</p>
    </section>
    <main>
        <div class="about__main__description">
            <h1 class="about__main__description__title">¿Por qué debería elegir WH?
            </h1>
            <h2 class="about__main__description__subtitle">Migración Gratuita</h2>
            <p class="about__main__description__text">Lo ayudamos a migrar su sitio web a nuestra red sin costo. Consulte a nuestro equipo de ventas. Aplican algunas restricciones.</p>
            <h2 class="about__main__description__subtitle">Máxima Velocidad</h2>
            <p class="about__main__description__text">Trabajamos con discos de estado sólido (SSD) y optimizamos el entorno del servicio para una mayor velocidad de carga de su sitio web.</p>
            <h2 class="about__main__description__subtitle">Soporte 7x24</h2>
            <p class="about__main__description__text">Estamos disponibles 7x24x365 para ayudarlo en lo que necesite. Es nuestra vocación acompañar el crecimiento de nuestros clientes.</p>
            <h2 class="about__main__description__subtitle">Uptime 99,98%</h2>
            <p class="about__main__description__text">Le garantizamos un Uptime de 99,98% mensual. Trabajamos preventivamente para evitar cualquier inconveniente que afecte el servicio.</p>
        </div>
        <div class="about__main__aside">
            <img src="../img/M5-Desafio3-img.png" alt="webserver" class="about__main__aside--img">
        </div>
    </main>
    <footer class="about__footer">
        <img src="../img/M5-logo-blanco.svg" alt="logo_blanco" class="about__footer__img">
    </footer>
</body>
</html>