<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Hosting - Contactos</title>
    <link rel="shortcut icon" href="../img/M5-logo-azul.svg" type="image/x-icon">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <nav class="main__nav">
        <img src="../img/M5-logo-azul.svg" alt="logoWebHosting" class="main__nav__img">
        <ul class="main__nav__ul">
            <li class="main__nav__ul--li"><a href="../../index.html">Home</a></li>
            <li class="main__nav__ul--li"><a href="../views/aboutUs.html">Acerca de</a></li>
            <li class="main__nav__ul--li"><a href="#">Contacto</a> </li>
        </ul>
    </nav>
    <section>
        <h1 class="section__description">
            ¿Querés que nos contactemos con vos?
        </h1>
    </section>
    <form action="">
    <fieldset class="main__form" >
        <legend class="main__title--legend">Dejanos tu consulta</legend>
        <label for="nombre" class="main__nombre--label">Nombre Completo<span>*</label>
        <input type="text" class="main__nombre" id="nombre" required>
        <label for="email" class="main__password--label">Email<span>*</label>
        <input type="password" name="email" id="email" class="main__password" required>
        <label for="comentario" class="main__password--label">Deja tu comentarios <span>*</span></label>
        <textarea name="comentario" id="" cols="30" rows="10" id="comentarios"></textarea>
        <div class="buttom">
            <input type="reset" class="botones--reset" id="reset" value="Resetear">
            <input type="submit" class="botones" value="Enviar" id="enviar">
        </div>
    </form>
    </fieldset>





</body>
</html>